head
    title HappySurfers
    link(rel="stylesheet", href="css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
    script(src="js/main.js")
    link(rel="icon", href="img/logo.png", type="image/x-icon")
body
    block content